@media only screen and (min-width : 320px) and (max-width : 1024px) {
  .food {
    background: #191c2c;
    margin: 0px 50px;
    padding: 14px 0px;
    border-radius: 10px;
    height: 73px;
    width: 79%;
    margin-top: 15px;
    /* border: 1px solid #191B4B; */
    -webkit-box-shadow: 0px 0px 13px -1px #000000; 
    box-shadow: 0px 0px 13px -1px #000000;
  }

  .in {
    transition: all 1s ease, 
  }

  .in__2 {
    opacity: 1,
  }

  .out {
    transition: all 1s ease, 
  }

  .out2 {
    opacity: 0,
  }

  .food_wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
    justify-content: space-between;
  }

  .food__data {
    display: flex;
    width: 40%;
  }

  .food__data > div {
    margin: 0px 10px;
  }

  .food__img {
    position: absolute;
    left: 3%;
  }

  .food__img__food {
    width: 82px;
    height: 72px;
    border-radius: 10px ;
  }

  .food__data_desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .food__data_desc > span {
    margin: 5px 0px;
    color: white
  }

  .food_desc {
    /* background: red; */
    /* border: 1px solid red; */
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    text-decoration: none;
  }

  .food_desc2_wrapper {
    padding-top: 8%;
  }

  .food_desc2 {
      /* background: red; */
      /* border: 1px solid red; */
      color: white;
      font-size: 20px;
      font-weight: bold;
      border-radius: 15px;
      padding: 5px;
      padding-top: 0px;
      padding-bottom: 2px;
      text-decoration: none;
  }

  .food__price_wrapper {
    padding-top: 7%;
  }

  .food__price_wrapper > span {
    color: white
  }

  .food_desc_wrapper {
    display: flex;
    flex-direction: column;
  }

  .food_desc_plus {
    margin-top: -31%;
  }

  .food__desc--category{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 66px;
    justify-content: space-between;
  }

  .food__desc--category > a {
    margin-top: 0px !important;
    cursor: pointer;
  }

  .food_desc_quantity {
    margin-top: 13%;
  }

  .food_desc_minus {
    margin-top: 17%;
  }

  .checked {
    color: orange;
  }

}